

#container{
  margin-top: 10%;
}

#tuteeSide {
  margin-right: 20%;
  float: right;
}

#tutorSide {
  margin-left: 20%;
  float: left;
}


.signUpLink {
  border: 3px solid black;
  text-align: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 1px black;
}

.signUpLink a {
  text-decoration: none;
  color: black;
  font-size: 100pt;
}

.signUpLink:hover{
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
