h1 {
  text-align: center;
  font-size: 36pt;
}

form {
  text-align: center;
  font-size: 25pt;
}

form input {
  width: 15%;
  font-size: 15pt;
}

.button {
  border: 3px solid black;
  text-align: center;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 1px 1px 1px black;
}

.button a {
  text-decoration: none;
  color: black;
  font-size: 20pt;
}

.button:hover{
  box-shadow: 1px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
